[submodule "app/jni/SDL"]
	path = app/jni/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "app/jni/SDL_image"]
	path = app/jni/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "app/jni/SDL_mixer"]
	path = app/jni/SDL_mixer
	url = git@github.com:libsdl-org/SDL_mixer.git
[submodule "app/jni/SDL_ttf"]
	path = app/jni/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
